.vscode/
isaaclab_exts/omni.isaac.vlnce/assets
*.pyc
*.egg-info
__pycache__/
.pytest_cache/
.mypy_cache/

# OS/editor junk
.DS_Store
.idea/

# Experiment/eval outputs
eval_results/
logs/
logs/height_maps/

original_scripts/
eval_results/
# Local environment or secrets
.env
hoyo_v1_1/data/
hoyo_v1_1/joint_training_results/

NAVILA/


MotionCLIP/.venv/
MotionCLIP/exps/
hoyo_v1_1/log/
hoyo_v1_1/proto_training_results/
.steering/
